.link-base {
    color: black;
    font-weight: 400;
    text-align: center;
    }
    .blog-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    
      .article-card__image.media {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .article-card__image.media img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }